# General
/*
!.gitignore
!icon.ico
!imgui.ini
!LICENSE.md

# Application
!/deps
!/docs
!/resources
!/src
!/vs

# Visual Studio
/vs/*
!/vs/*.aps
!/vs/*.rc
!/vs/*.sln
!/vs/*.vcxproj
!/vs/*.vcxproj.filters
!/vs/*.vcxproj.user
!/vs/resource.h
