# General
/*
!.gitignore
!icon.ico
!imgui.ini
!LICENSE.md

# Visual Studio
!/vs
/vs/*
!/vs/*.aps
!/vs/*.rc
!/vs/*.sln
!/vs/*.vcxproj
!/vs/*.vcxproj.filters
!/vs/*.vcxproj.user
!/vs/resource.h

# Application

!/deps
!/docs
!/resources
!/src
