# General
/*
!.gitignore
!imgui.ini
!icon.ico

# Visual Studio
!/vs
/vs/*
!/vs/*.sln
!/vs/*.rc
!/vs/*.aps
!/vs/*.vcxproj
!/vs/*.vcxproj.filters
!/vs/*.vcxproj.user
!/vs/resource.h

# Application

!/dependencies
!/resources
!/src
!/docs